body {
  text-align: center;
  background-color: #999999;
}

#reversi-canvas {
  margin-top: 20vh;
}

canvas {
  border: 1px solid black;
  background-color: green;  
}

button.vs-white {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  width: 264px;
}

button.vs-black {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  margin: 0px;
  font-size: 16px;
  width: 264px;
}

button.vs-person {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  background-color: green;
  width: 264px;
}
